<header class="top">
  <div class="container">
    <div class="left">
      <a href="/" class="logo">
        The Branch
        <span class="blue">Magazine</span>
      </a>
    </div>

    <div class="right">
      <nav class="main">
        <a href="/latest" class="latest">Latest</a>
        <a href="/articles" class="articles">Articles</a>
        <a href="/about" class="about">About</a>
        <a href="/contribute" class="contribute">Contribute</a>
      </nav>

      <aside class="author">
        {{ page.author.bio }}
      </aside>
    </div>
  </div>
</header>